.attribution {
	font-size: 14px;
	color: gray;
	font-face: italic;
}

<<<<<<< HEAD
body {
	text-align: center;
=======
body { 
	text-align: center; 
	
}

.screenshot {
	border: 1px solid #aaaaaa;
	width: 70%;
	height: 60%;
	margin-left: auto;
        margin-right: auto;
	
>>>>>>> origin/master
}

.brForImage {
	margin-bottom: 1px;
}

.content {
	top: 20px;
	position: relative;
	width: 100%;
	height: 100%;
	background: white;
	padding: 5px;
	margin-left: auto;
<<<<<<< HEAD
	margin-right: auto;
	text-align: center;
=======
        margin-right: auto;
        text-align: center;
>>>>>>> origin/master
}

#footer {
	position: relative;
<<<<<<< HEAD
	top: 200px;
=======
	/* top: 200px; */
>>>>>>> origin/master
	width: 90%;
	background-color: white;
	text-align: left;
	border-top: 1px solid gray;
	height: 30px;
	margin-left: 5%;
	font-size: 11px;
	color: gray;
}

.header {
	margin: 0 auto;
	display: block;
	height: 80px;
	width: 100%;
	text-align: left;
	background-color: #CD8CFF;
}

.headerRight {
	text-align: right;
	margin-right: 10px;
}


img {
	border: none;
}

#imgtable {
	position: relative;
	top: 130px;
	margin: 0 auto;
}

.images {
	margin-left: auto;
	margin-right: auto;
	width: 640px;
}

#login {
	position: absolute;
	left: 910px;
	top: 13px;
}

.rating {
	font-size: 18px;
	color: red;
	font-weight: bold;
}

table {
	border: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.tbTextLogin {
	font-size: 14px;
	color: white;
	font-weight: bold;
}

<<<<<<< HEAD
=======


.ui-accordion {
	border: 1px solid #aaaaaa;
	color: black;
	width: 80%;
	margin-left: auto;
        margin-right: auto;
        
        
}
.ui-accordion-header{
	background-color: #ccc;  
        margin: 0px;
        color: #fff;  
        line-height: 42px;  
        display: block;  
        font-size: 12pt;  
        width: 100%;
        text-shadow: 1px 1px 0px rgba(0,0,0,0.2);  
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);  
    border-right: 1px solid rgba(0, 0, 0, .2);  
    border-left: 1px solid rgba(0, 0, 0, .2);  
    border-bottom: 1px solid rgba(0, 0, 0, .2);  
    border-top: 1px solid rgba(250, 250, 250, .2);    
	
}
.ui-accordion-content{
	/* color: red;
        background-color: #FFBD57; */
	width: 100%;  
        background-color: #f3f3f3;  
        color: #777;  
        font-size: 14pt;  
        line-height: 16pt;
        box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, .4),  
                inset 0px 1px 1px 0px rgba(0, 0, 0, .2);  
}

>>>>>>> origin/master
#title {
	position: absolute;
	left: 400px;
	top: 9px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-align: center;
}

#title1 {
	position: relative;
	top: 50px;
}

<<<<<<< HEAD
.userInfo {
	
}

.userPicture {
	border: 2px solid black;
}

.userTable {
	float: left;
	text-align: left;
	padding: 100;
}
=======



>>>>>>> origin/master
